h1 {
  text-align: center;
}
body {
  background: rgb(135, 171, 225);
}
.navigation-links {
  text-align: center;
  font-size: large;
  color: white;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
p {
  text-align: center;
}
